.d-wrap[data-wrap="group-timezones"],
.group-timezones {
  display: flex;
  width: 100%;
  height: 325px;
  box-sizing: border-box;
  flex-direction: column;

  &[data-size="small"],
  &.small {
    height: 175px;
  }

  &[data-size="medium"],
  &.medium {
    height: 325px;
  }

  &[data-size="large"],
  &.large {
    height: 600px;
  }
}

.group-timezones-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.25em;
  box-sizing: border-box;

  .title {
    font-weight: bold;
    text-transform: capitalize;
  }
}

.mobile-view .group-timezones-slider {
  display: none;
}

.group-timezones-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-template-rows: auto;
  grid-gap: 0.25em;
  box-sizing: border-box;
  overflow-y: auto;

  .group-timezones-header {
    .title {
      font-weight: 700;
    }
    .group-timezones-time-traveler {
    }
  }

  .group-timezone,
  .group-timezone-new-day {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
  }

  .group-timezone-new-day {
    align-items: center;
    justify-content: space-between;
    background: #222;
    color: #ddd;

    .before {
      margin-right: auto;
      text-transform: capitalize;
    }

    .after {
      margin-left: auto;
      text-transform: capitalize;
    }
  }

  .group-timezone {
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    background: #7a7a7a;
    color: #222;

    &.close-to-working-hours {
      background: #a6a6a6;
    }

    &.in-working-hours {
      background: #e9e9e9;
    }

    .info {
      display: flex;
      flex-direction: row;
      align-items: center;

      .time {
        font-weight: 700;
      }

      .offset {
        font-size: $font-down-2;
        margin-left: 0.5em;
      }
    }

    .members {
      padding: 0;
      margin: 1em 0;

      .group-timezones-member {
        position: relative;

        .emoji {
          position: absolute;
          bottom: -8px;
          right: -8px;
          width: 18px;
          height: 18px;
          background: whitesmoke;
          border-radius: 9px;
          padding: 0.25em;
          box-sizing: border-box;
          box-shadow: 1px 1px 2px #888;
        }

        margin: 0.25em;
        list-style: none;
        display: inline-flex;
      }
    }
  }
}
