.group-timezones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .group-timezone-new-day {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    width: 20%;
    align-items: center;
    justify-content: space-between;
    background: $primary-very-low;
    color: $primary-high;
    border: 0.25em solid white;

    .before {
      margin-right: auto;
    }

    .after {
      margin-left: auto;
    }
  }

  .group-timezone {
    border: 0.25em solid white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    width: 20%;
    background: lighten($success, 60%);

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.not-in-working-hours {
      background: lighten($danger, 40%);
    }

    .info {
      display: flex;
      flex-direction: column;

      .timezone {
        text-transform: uppercase;
        font-size: $font-down-2;
        font-weight: 700;
        color: $primary-medium;
      }

      .time {
        font-weight: 700;
      }

      .offset {
        font-size: $font-down-2;
        color: $primary-medium;
      }
    }

    .members {
      padding: 0;
      margin: 1em 0;

      .member {
        margin: 0.05em;
        list-style: none;
        display: inline-flex;
      }
    }
  }
}
