.d-wrap[data-wrap="group-timezones"],
.group-timezones {
  display: flex;
  width: 100%;
  overflow-y: auto;
  height: 300px;
  box-sizing: border-box;
  flex-direction: column;

  &[data-size="small"],
  &.small {
    height: 150px;
  }

  &[data-size="medium"],
  &.medium {
    height: calc(300px + 0.25em);
  }

  &[data-size="large"],
  &.large {
    height: calc(600px + 0.25em * 3);
  }
}

.group-timezones-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;

  .title {
    font-weight: bold;
    text-transform: capitalize;
  }
}

.group-timezones-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-template-rows: auto;
  grid-gap: 0.25em;
  box-sizing: border-box;

  .group-timezones-header {
    .title {
      font-weight: 700;
    }
    .group-timezones-time-traveler {
    }
  }

  .group-timezone,
  .group-timezone-new-day {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
  }

  .group-timezone-new-day {
    align-items: center;
    justify-content: space-between;
    background: $primary-very-low;
    color: $primary-high;

    .before {
      margin-right: auto;
      text-transform: capitalize;
    }

    .after {
      margin-left: auto;
      text-transform: capitalize;
    }
  }

  .group-timezone {
    background: lighten($success, 60%);

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.not-in-working-hours {
      background: lighten($danger, 40%);
    }

    .info {
      display: flex;
      flex-direction: column;

      .timezone {
        text-transform: uppercase;
        font-size: $font-down-2;
        font-weight: 700;
        color: $primary-medium;
      }

      .time {
        font-weight: 700;
        color: #111;
      }

      .offset {
        font-size: $font-down-2;
        color: $primary-medium;
      }
    }

    .members {
      padding: 0;
      margin: 1em 0;

      .group-timezones-member {
        position: relative;

        .emoji {
          position: absolute;
          top: -8px;
          right: -8px;
          width: 18px;
          height: 18px;
          background: whitesmoke;
          border-radius: 9px;
          padding: 0.25em;
          box-sizing: border-box;
          box-shadow: 1px 1px 2px #888;
        }

        margin: 0.25em;
        list-style: none;
        display: inline-flex;
      }
    }
  }
}
